<ion-header>
  <ion-toolbar>
    <ion-title>
      𝓑𝓘𝓑𝓛𝓘𝓞𝓖𝓔𝓢𝓣
    </ion-title>
    <ion-searchbar [(ngModel)]="searchTerm" (ionChange)="searchChanged($event)"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list *ngIf="books && books.length > 0">
    <ion-item *ngFor="let book of books">
      <ion-thumbnail slot="start">
        <img [src]="book.cover_url" alt="Cover Image">
      </ion-thumbnail>
      <ion-label>
        <h2>{{ book.title }}</h2>
        <p>{{ book.author }}</p>
      </ion-label>
      <ion-button fill="clear" (click)="itemClicked(book)">Voir plus</ion-button>
    </ion-item>
  </ion-list>
  
  <div *ngIf="selectedBook">
    <h2>Détails du livre sélectionné :</h2>
    <img [src]="selectedBook.thumbnail" alt="Cover Image">
    <h3>{{ selectedBook.title }}</h3>
    <p>Auteurs : {{ selectedBook.authors?.join(', ') }}</p>
    <!-- Ajoutez plus de détails ici en fonction des informations que vous voulez afficher -->
</div>


  
</ion-content>
